section{
    height: auto;
}

.box{
    height:auto;
    padding: 10px 20px;
}


.c_photo img{   
    width: 600px;
    height: 400px;    
}

    
.content{
    width: 90vw;
    height: auto;
    float: inherit;
}
                        
.content p{
    font-size: 13px;
    padding: 20px 0;    
    
}
        
        
#nav1 a{
    padding: 10px;    
    font-size: 16px;    

}
